@model List<Nimap_Infotech.Models.Category>

<h1>Category List</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = category.CategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = category.CategoryId })
                </td>
            </tr>
        }
    </tbody>
</table>
