@model Nimap_Infotech.Models.Product

<h1>Edit Product</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.ProductName)
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProductName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), "-- Select Category --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
